.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
}

.App-link {
  color: #61dafb;
}

.header-name {
  margin-left: 10px;
  font-size: xx-large;
  font-weight: bolder;
}

.header-text {
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
}

.job-name {
  margin-left: 10px;
  font-size: xx-large;
  font-weight: bolder;
}

.job-time {
  margin-left: 10px;
  font-size: large;
  font-weight: bold;
  color: #356093;
}

.job-text {
  margin-left: 10px;
  font-size: large;
  color: darkgrey;
}

.img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
  border-radius: 100%;
}

.header {
  
}



